/* Fade+Slide animation */
/* .fade-slide {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlide 1s ease forwards;
}

.fade-slide.delay-500 {
    animation-delay: 0.5s;
}

.fade-slide.delay-1000 {
    animation-delay: 1s;
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* Optional: Gradient background movement */
/* @keyframes gradientX {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
} */

/* section {
    background-size: 200% 200%;
    animation: gradientX 30s ease infinite;
} */

/* .banner {
    position: relative;
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    /* overlay */
/* }

*/